{% extends "base.html" %}
{% block imports %}
	<script type="text/javascript">
		//evento click para boton editar
		$(document).on('Click', '.btn-editar', function(e){

			e.preventDefault();
			var row=$(this).paren().parent()[0];
			console.log(row);
		});
	</script>
{% endblock %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Lista de Clientes</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Nombre</th>
	                            <th>Dirección</th>
	                            <th>N° Documento</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oCliente in oClientes %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td>{{oCliente.nombre}}</td>
				    	<td>{{oCliente.direccion}}</td>
				    	<td>{{oCliente.numerodocumento}}</td>
				    	<td>
				    		<a href="/Cliente/detalle/{{oCliente.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
				    		<a href="/Cliente/editar/{{oCliente.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
				    	</td>
				    </tr>

				    {% endfor %}

					</table>
						<br>
						<div class="pagination" style="text-align: center;">
								<div class="pages">
										<ul>
											{% if oClientes.has_previous %}
													<li><a href="?page={{oClientes.previous_page_number}}"><<</a></li>
											{% endif %}
										</ul>
										<ul>
										{% for pg in page_range %}
												{% if oClientes.number == pg %}
														<li><a href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
												{% else %}
														<li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
												{% endif %}
										{% endfor %}
										</ul>
										<ul>
											{% if oVenta.has_next %}
													<li><a href="?page={{oVenta.next_page_number}}">>></a></li>
											{% endif %}
										</ul>
								</div>
						</div>

				    <br>
	    			<a href="/Cliente/nuevo/"><button type="button" class="btn btn-success">Nuevo Cliente</button> </a>

			</div>
	    </div>
    </div>
</div>
{% endblock %}
