

<!-- Usuario: Erick sulca
	 fecha: 01/06/18
	 última modificación: 12/06/18
	 Descripción: se agrego la función getMapa, y toggleBounce para hacer más dinámico el marcador del mapa -->

{% extends "base.html" %}

{% block imports %}
{% endblock %}

{% block title %}
Registrar Nuevo Cliente
{% endblock %}

{% block content %}
<div class="card" id="app">
    <div class="card-header">
		<h3 class="box-title">Formulario nuevo Cliente</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
	    	<div class="white-box">
				<form action="." method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% load widget_tweaks %}
					<ul>
						<div class="form-group">
							{% for field in form %}
									{{ field.errors }}
									{{ field.label_tag }}</br>
									{{ field|add_class:"form-control" }}
							{% endfor %}
						</br>
					</ul>
					
					<ul>
						<button type="submit" class="btn btn-success">Agregar Cliente</button>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer  %}

{% endblock %}