{% extends "base.html" %}
{% block imports %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $.datepicker.regional['es'] = {
      closeText: 'Cerrar',
      prevText: '< Ant',
      nextText: 'Sig >',
      currentText: 'Hoy',
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
      dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
      weekHeader: 'Sm',
      dateFormat: 'yy-mm-dd',
      firstDay: 1,
      isRTL: false,
      showMonthAfterYear: false,
      yearSuffix: ''
    };

    $( function() {
      $.datepicker.setDefaults($.datepicker.regional['es']);
      $( "#desde" ).datepicker();
      $( "#hasta" ).datepicker();
    } );
</script>

  <script>
  $( function() {
    $( "#desde" ).datepicker();
  } );
  </script>
  <script>
  $( function() {
    $( "#hasta" ).datepicker();
  } );
  </script>
 <script type="text/javascript">

//evento click para boton editar

$(document).on('Click', '.btn-editar', function(e){

	e.preventDefault();
	 var row=$(this).paren().parent()[0];
	 console.log(row);
});


</script>

<script type="text/javascript">
$(document).ready(function(){
  $( "#inpt-cliente" ).autocomplete({
      source: function (request, response) {

          var datos = {nombreCliente: $("#inpt-cliente").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/cliente/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,

              success: function (result) {
                console.log(request)
                var ListasClientes = result['clientes'];
                response($.map(ListasClientes, function (item) {
                  return {
                    label: item.nombre,
                    idproducto: item.id,
                  };
                }));
              }
          });
      },
      minLength: 1,
  });
});

</script>
</script>
<script type="text/javascript">
$(document).ready(function(){
  $( "#inpt-producto" ).focus();
  $( "#inpt-producto" ).autocomplete({
      source: function (request, response) {

          var datos = {nombreProducto: $("#inpt-producto").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/producto/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,

              success: function (result) {
              var ListasProductos = result['productos'];
              response($.map(ListasProductos, function (item) {
                  return {
                      label: item.nombre,
                      idproducto: item.id,
                      };
                  }));
              }
          });
      },
      minLength: 1,
      // select: function (event, ui) {
      //     $.data(document.body, 'idproducto', ui.item.Id);//guardar el id en memoria el $.data guarda en memoria
      //     $( "#precio" ).val( ui.item.precio);
      //     $( "#codigo" ).val( ui.item.codigo);
      //
      //     $( "#cantidad" ).focus();
      //     $( "#cantidad" ).focus();
      //     var iDPro = ui.item.Id;
      //     //agregar();
      // }


  });
});

</script>


<style>
ul.ui-autocomplete {
  z-index: 1100;
}
#content{
  position: absolute;
  min-height: 50%;
  width: 80%;
  top: 20%;
  left: 5%;
}

.selected{
  cursor: pointer;
}
.selected:hover{
  background-color: #0585C0;
  color: white;
}
.seleccionada{
  background-color: #0585C0;
  color: white;
}
</style>


{% endblock %}

{% block title %}
Ventas
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
  <h3 class="box-title">Lista de Ventas</h3>
      <div class="card-header-right">
          <ul class="list-unstyled card-option">
              <li><i class="fa fa fa-wrench open-card-option"></i></li>
              <li><i class="fa fa-window-maximize full-card"></i></li>
              <li><i class="fa fa-minus minimize-card"></i></li>
              <li><i class="fa fa-refresh reload-card"></i></li>
              <li><i class="fa fa-trash close-card"></i></li>
          </ul>
      </div>
  </div>
  <div class="card-block table-border-style">
      <div class="table-responsive">
          <form action="{% url 'filtra_ventas' %}" method="get" class="form-inline mr-auto">
            {% csrf_token %}
              <input type="text" id="inpt-producto" placeholder="Producto..." name="producto_buscado" class="form-inline mr-auto">
              <input type="text" id="inpt-cliente" placeholder="DNI Cliente..." name="cliente_buscado" class="form-inline mr-auto">
              <input type="text" class="form-inline mr-auto" id="desde" placeholder="Fecha inicio..." name="desde" autocomplete="off">
              <input type="text" class="form-inline mr-auto" id="hasta" placeholder="Fecha final..." name="hasta" autocomplete="off">
              <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
          </form>
        <div class="row">
          <div class="col-sm-12">
              <div class="white-box">
                  {% load widget_tweaks %}
                  {% csrf_token %}
                  <div class="form-group">
                  <table id="tCamiones"  class="table">
                    <thead>
                      <tr>
                          <th>#id</th>
                          <th>Fecha</th>
                          <th>Monto</th>
                          <th>Cliente</th>
                          <th>Productos</th>
                          <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for oVenta in oVenta %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{oVenta.fecha}}</td>
                        <td>{{oVenta.monto}}</td>
                        <td>{{oVenta.cliente.nombre }}</td>
                        <td>
                          {% for Pedido_productopresentacions in oVenta.pedido.pedido_presentacions.all %}
                              <table class="table">
                                <tr>
                                  <td>
                                    {{ Pedido_productopresentacions.producto_presentacions.producto.nombre }}
                                  </td>
                                </tr>
                              </table>
                          {% endfor %}
                        </td>
                        <td>
                          <a href="/Venta/detalle/{{oVenta.id}}/"><button type="button" class="btn btn-info">Detalles</button> </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
                <div class="pagination" style="text-align: center;">
                    <div class="pages">
                        <ul>
                          {% if oVenta.has_previous %}
                              <li><a href="?page={{oVenta.previous_page_number}}"></a></li>
                          {% endif %}
                        </ul>
                        <ul>
                        {% for pg in page_range %}
                            {% if oVenta.number == pg %}
                                <li><a href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
                            {% else %}
                                <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        <ul>
                          {% if oVenta.has_next %}
                              <li><a href="?page={{oVenta.next_page_number}}">>></a></li>
                          {% endif %}
                        </ul>
                    </div>
                </div>
                <a href="{% url 'venta_nuevo' %}"><button type="button" class="btn btn-success">Nueva Venta</button> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
