{% extends "base.html" %}

{% block imports %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<!-- IMPORT DATIMEPICKER -->
<!-- Minified Bootstrap JS -->
<!-- Minified JS library -->
<!-- Minified Bootstrap CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<style>
    .cantidadProductoPedido-field {
        font-size: 32px
    }
    .nombreProductoPedido-field {
        font-size: 32px
    }
    .selectPresentacion-field {
        font-size: 40px
    }
    .option-selectPresentacion-field {
        font-size: 30px
    }

    .button-agregarProducto-field {
        font-size: 20px;
        font-weight: bold
    }
    .button-guardarOperacion-field {
        font-size: 40px;
        font-weight: bold
    }
</style>
{% endblock %}


{% block title %}
Nueva Venta
{% endblock %}

{% block content %}
<div id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="box-title"></h3>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <div class="white-box">
                    <div class="container col-12">
                        <div class="row" style="height: 200px;">
                            <div class="col-6" >
                                <h4>Cliente:</h4>
                                <input type="text" v-model="nombreClienteAgregar"  class="form-control nombreProductoPedido-field" :disabled="cliente_completado">
                                
                            </div>

                            <div class="col-6">
                                <div class="row" v-show="!cliente_completado">
                                    <div class="row">
                                        <h4>Clientes Encontrados</h4>
                                    </div>
                                    <div class="row" style="height: 75 px;">
                                        <div class="col" v-for="(item, index) in arrClientes">
                                                <td>
                                                    <button @click="set_nombreCliente(item)" style="width: 100px;">
                                                        <img :src=[[item.imagen]] class="card-img-top " style="width: 80px;">
                                                        <p>[[item.nombre]]
                                                    </button>
                                                </td>
                                            </div>
                                        </tr>
                                    </div>
                                </div>

                                <div class="row" v-show="cliente_completado">
                                    <div class="col">
                                        <h4>Datos del Cliente:</h4>
                                        <div class="card border-success mb-3" >
                                            <div class="card-header">[[oCliente.nombre]]</div>
                                            <div class="card-body text-success">
                                                <h5 class="card-title">Contacto:</h5>
                                                <p class="card-text">
                                                    |teléfono: [[oCliente.telefono]] | 
                                                    |dirección: [[oCliente.direccion]] |
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col" v-show="cliente_completado">
                                        <button type="button" class="btn btn-danger " @click="set_nombreCliente('')">
                                            Borrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="row" >
                            <div class="col-12 col-sm-6">
                                <div class="row">
                                    <h4 for="id_nombre">Producto:</h4>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" ref="inpProducto" v-model="nombreProductoAgregar"  class="form-control nombreProductoPedido-field " 
                                            name="inpt-producto" id="inpt-producto" :disabled="producto_completado">
                                        </div>
                                        
                                        <div class="col" v-show="producto_completado">
                                            <button  type="button" class="btn btn-secondary" @click="changeProductoCompletado">
                                                Editar
                                            </button>
                                        </div>
                                        
                                        <div class="col" v-show="!producto_completado">
                                            <button type="button" class="btn btn-danger " @click="set_nombreProducto('',0,0)">
                                                Borrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h4>
                                        Productos Sugeridos
                                    </h4>
                                    <div class="row" style="height: 75 px;">
                                        <div class="col" v-for="(item, index) in arrProductos">
                                            <button @click="set_nombreProducto(item.id,item.nombre,item.precio)" style="width: 100px;">
                                                <img :src=[[item.imagen]] class="card-img-top " style="width: 80px;">
                                                <p>[[item.nombre]]</p>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="row">
                                    <div id="selector" class="col">
                                        <label for="id_nombre">Presentación:</label>
                                        <select v-model="selectedPresentacion" class="selectPresentacion-field col-12">
                                            <option class="form-control option-selectPresentacion-field " v-for="(item, key) in lista_presentaciones" :value="key">
                                                [[item]]
                                            </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col">
                                        <label for="id_nombre">Cantidad:</label>
                                        <input v-model="cantProductoAgregar" type="number" min="1" name="cantidad" id="cantidad" required="" class="form-control cantidadProductoPedido-field " >
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="form-control btn-success" @click="++cantProductoAgregar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="60" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button class="form-control btn-danger" @click="--cantProductoAgregar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="60" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="row">
                            <div class="col-6"> 
                                <div class="row">
                                    <tr>
                                        {% for oProductoTop in oProductosTop %}
                                            <td>
                                                <button @click="set_nombreProducto('{{oProductoTop.id}}','{{oProductoTop}}',{{ oProductoTop.precio }})" style="width: 100px;">
                                                    <img src="{{ oProductoTop.imagen.url }}" class="card-img-top " alt="{{ oProductoTop.nombre }}" style="height: 80px;">
                                                    <p>{{ oProductoTop.nombre }}</p>
                                                </button>

                                            <td>
                                            {% if forloop.counter|divisibleby:5 %}
                                                {# Start new row #}
                                                </tr>
                                                <tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </div>
                                <meta name="csrf-token" content="{{ csrf_token }}">
                            </div>
                            <div class="row col-6">
                                <div class="col">
                                    <hr>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <p style="font-size: 20px;" v-if="precioProductoAgregar!==0"> PRECIO UNIT.: </p>
                                    </div>
                                    <div class="row">
                                        <p style="font-size: 40px;"> TOTAL S/. : [[ totalProductoAgregar ]] </p>
                                    </div>
                                </div>
                                <div class="col">
                                    <h4 v-if="precioProductoAgregar>0">[[precioProductoAgregar]]</h4>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 ">
                                <button class="btn btn-success col-12 button-agregarProducto-field " @click="agregarProductoPedido"> Agregar Producto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" v-show="items.length>0">
        <div class="card-header">
            <h3 class="box-title">Contenido: </h3>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <div class="white-box">
                    <div class="container col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="table table-borderless" id="table">
                                    <table class="table table-borderless" id="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre Producto</th>
                                                <th scope="col">Presentación Producto</th>
                                                <th scope="col">
                                                    <p @click="change_editar_cantidadItems">
                                                        Cantidad Producto 
                                                    </p>
                                                    
                                                    <button v-if="editar_cantidadItems" class="btn btn-success" @click="change_editar_cantidadItems">Guardar</button>
                                                </th>
                                                <th scope="col">
                                                    <p @click="change_editar_precioItems">
                                                        Precio Producto
                                                    </p>    
                                                    <button v-if="editar_precioItems" class="btn btn-success" @click="change_editar_precioItems">Guardar</button>
                                                </th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tr v-for="(item, index) in items">
                                            <td>[[index+1]]</td>
                                            <td>[[item.nombre_producto]]</td>
                                            <td>[[item.presentacion_producto]]</td>
                                            <td>
                                                <p v-if="!editar_cantidadItems">
                                                    [[item.cantidad_producto]]
                                                </p>
                                                <input v-if="editar_cantidadItems" type="number" min="0" v-model ="item.cantidad_producto" class="form-control"> 
                                            </td>
                                            <td>
                                                <p v-if="!editar_precioItems">
                                                    [[item.precio_producto]]
                                                </p>
                                                <input v-if="editar_precioItems" type="number" min="0" v-model ="item.precio_producto" class="form-control"> 
                                            </td>
                                            <td>
                                                <button @click="eliminar_fila_pedido(index)" class="btn btn-outline-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                  </svg> 
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                         

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <h1>Monto Total S/. [[monto_total]]</h1>
                                    </div>
                                    <div class="row"> 
                                        <div class="col">
                                            <input type="checkbox" v-model="bool_pagoTotal" name="cbxPago" id="cbxPago" class="form-control">
                                        </div>
                                        <div class="col">
                                            <p>Pago Total</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="number" min="0" v-show="!bool_pagoTotal" v-mode="pago_cliente" name="montoPago" id="montoPago" class="form-control ">
                                        <input type="number" v-show="!bool_pagoTotal"  v-model="pago_cliente"  class="form-control" name="inpt-producto" id="inpt-producto">
                                        Primer pago: S/. [[pago_cliente]]
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-success col-12 button-agregarProducto-field" @click="guardar_operacion" style="height: 150px;"> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer  %}

<script type="text/javascript">
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        computed: {
            
        },
        created() {
            window.csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        },
        data:   {
             
            bool_pagoTotal: true,
            producto_completado : false,
            editar_precioItems: false,
            editar_cantidadItems: false,
            lista_presentaciones: {},
            
            items: [
                /*{id: '13', nombre_producto: 'Molde', presentacion_producto: 'Ca', cantidad_producto: 1, precio_producto: 129, fechaVenc_producto: ''}, {id: '13', nombre_producto: 'Molde', presentacion_producto: 'De(10)', cantidad_producto: 1, precio_producto: 23, fechaVenc_producto: ''}, {id: '13', nombre_producto: 'Molde', presentacion_producto: 'Un', cantidad_producto: 1, precio_producto: 2.4, fechaVenc_producto: ''}*/
            ],
            nroDocumento: '',
            selectedPresentacion: '',
            idProductoAgregar : 0,
            nombreProductoAgregar : '',
            nombreProducto: '',
            precioProductoAgregar: 0,
            totalProductoAgregar: 0,
            cantProductoAgregar: 0,
            arrProductos: [],
            arr_productos_sugeridos: [],
            objsPresentaciones: [],

            idClienteAgregar: 0,
            cliente_completado: false,
            nombreClienteAgregar: '',
            arrClientes: [],
            oCliente: {},

            oDocumentoImprimir: {},
            ventaCompletada: false,
            url_documentoVenta: '',

            monto_total: 0,
            pago_cliente: 0,

            almacen_selected: '',
            proveedor_selected: '',
        },
        
        watch: {
            
            nombreProductoAgregar: function(val){
                this.buscar_producto()
                console.log("Buscar producto")
            },
            nombreClienteAgregar: function(val){
                this.buscar_cliente()
            },
            oDocumentoImprimir: function(val){
                if (this.oDocumentoImprimir['idVenta']){
                    this.buscar_venta()
                }
            },
            monto_total: function(val){
                if (this.bool_pagoTotal==true){
                    this.pago_cliente = this.monto_total
                }
            },
            ventaCompletada:function(val){
                if (this.ventaCompletada == true){
                    console.log("### LOG: fun_ventacompletada")
                    this.url_documentoVenta = '/venta/imprimir/'+this.oDocumentoImprimir['idVenta']
                    window.open (this.url_documentoVenta,"documentoImprimir","menubar=0,resizable=1,width=620,height=670");
                    window.location.replace("/venta/listar")

                }
            },
             
            cantProductoAgregar: function(val){
                if (this.precioProductoAgregar != 0 && this.cantProductoAgregar !=0){
                    this.totalProductoAgregar = this.cantProductoAgregar*this.precioProductoAgregar
                    
                } 
            },
            precioProductoAgregar: function(val){
                if (this.precioProductoAgregar != 0 && this.cantProductoAgregar !=0){
                    this.totalProductoAgregar = this.cantProductoAgregar*this.precioProductoAgregar
                } 
            },
            idProductoAgregar: function(val){
                if(this.idProductoAgregar !=0){
                    this.buscar_presentaciones_producto()
                }
            },
            selectedPresentacion: function(val){
                this.totalProductoAgregar = 0
                this.cantProductoAgregar = 0
                for (let index = 0; index < this.objsPresentaciones.length; index++) {
                    if(this.objsPresentaciones[index]['presentacion']['codigo']==val){
                        this.precioProductoAgregar = this.objsPresentaciones[index]['precio_venta']
                    }
                }
            }
        }
        ,
        methods: {
            async buscar_producto(){
                let data = {
                    nombreProducto : this.nombreProductoAgregar,
                };
                if (this.nombreProductoAgregar!=''){
                    axios.post("/producto/buscar/", data).then((result) => {
                        const data = result.data;
                        if (data){
                            this.arrProductos = data['productos']
                        }
                        else{
                            alert("Error")
                        }
                    });
                }else{
                    this.nombreProductoAgregar = ''
                    this.arrProductos = []
                }
            },

            async buscar_cliente(){
                let data = {
                    nombreCliente : this.nombreClienteAgregar,
                };
                if (this.nombreClienteAgregar!=''){
                    axios.post("/cliente/buscar/", data).then((result) => {
                        const data = result.data;
                        if (data){
                            this.arrClientes = data['clientes']
                        }
                        else{
                            alert("Error")
                        }
                    });
                }else{
                    this.nombreClienteAgregar = ''
                    this.arrClientes = []
                }
            },

            async buscar_venta(){
                axios.get("/venta/detalle/6")
                .then((response) => {
                    const data = response.data;
                    //this.lista_clientes = data
                    console.log(data)
                })
            },

            async send_datos_operacion(){
                let datos = {}
                datos["productos"] = this.items
                datos["oCliente"] = this.oCliente
                datos["pago_cliente"] = this.pago_cliente

                axios.post(".",datos,{headers: {'X-CSRFToken' : window.csrfToken}}).then((result)=> {
                    let data = result.data;
                    alert("Datos guardados correctamente!")
                    this.oDocumentoImprimir = data
                    this.ventaCompletada = true
                    
                });
            },

            async buscar_presentaciones_producto(){
                const pk = this.idProductoAgregar
                if (pk>0){
                    axios.get("/producto/presentacion/listar/?pk="+pk)
                        .then((response) => {
                            const data = response.data;
                            this.lista_clientes = data
                            this.lista_presentaciones = {}
                            let presentaciones = {}
                            for (let index = 0; index < data.length; index++) {
                                let codigo = data[index]['presentacion']['codigo']
                                let element = data[index]['presentacion']['nombre'];
                                presentaciones[codigo] = element
                            }
                            this.objsPresentaciones = data
                            this.lista_presentaciones = presentaciones
                        })
                        .catch(function(error){
                    });    
                }
            },

            agregarProductoPedido: function(){
                if(this.nomProductComplete==''){
                    alert("Seleccionar un Producto")
                }
                if(this.cantProductoAgregar<=0){
                    alert("Agregue una cantidad válida")
                }
                if(this.selectedPresentacion==''){
                    alert("Seleccionar una Presentación")
                }
                if (this.nomProductComplete=!''&&this.cantProductoAgregar>0,this.selectedPresentacion!=''){
                    objProducto = {
                        id: this.idProductoAgregar, nombre_producto: this.nombreProductoAgregar, presentacion_producto:this.selectedPresentacion, cantidad_producto:this.cantProductoAgregar,precio_producto:this.precioProductoAgregar, fechaVenc_producto:''
                    }
                    this.items.push(objProducto)
                    this.selectedPresentacion = ''
                    this.nombreProductoAgregar = ''
                    this.cantProductoAgregar = 0
                    this.precioProductoAgregar = 0
                    this.totalProductoAgregar = 0
                    this.producto_completado = false
                    this.calcular_total_operacion()
                }
            },
            
            changeProductoCompletado: function(){
                if (this.producto_completado == true){
                    this.producto_completado = false
                }
                else{
                    this.producto_completado = true
                }
            },
            change_editar_cantidadItems: function(){
                if (this.editar_cantidadItems == true){
                    this.editar_cantidadItems = false
                    this.calcular_total_operacion()
                }
                else{
                    this.editar_cantidadItems = true
                }
            },
            change_editar_precioItems: function(){
                if (this.editar_precioItems == true){
                    this.editar_precioItems = false
                    this.calcular_total_operacion()
                }
                else{
                    this.editar_precioItems = true
                }
            },
            eliminar_fila_pedido: function(val){
                let new_items = []
                for (let index = 0; index < this.items.length; index++) {
                    if (val != index){
                        new_items.push(this.items[index])
                    }
                }
                this.items = new_items
                this.calcular_total_operacion()
            },
            calcular_total_operacion: function(){
                this.monto_total = 0
                for (let index = 0; index < this.items.length; index++) {
                    this.monto_total += this.items[index]['cantidad_producto']*this.items[index]['precio_producto']
                }
                this.monto_total = Math.round((this.monto_total)*100)/ 100
            },
            set_nombreProducto: function(idProducto,nombre_producto,precio){
                if (this.producto_completado==false){
                    this.idProductoAgregar = idProducto
                    this.producto_completado = false
                    this.nombreProductoAgregar = nombre_producto
                    
                    if (nombre_producto!=''){
                        this.producto_completado = true
                        this.nombreProductoAgregar = nombre_producto
                    }
                    else{
                        this.totalProductoAgregar = 0
                    }
                    this.buscar_presentaciones_producto()
                    this.cantProductoAgregar = 0
                }
            },
            set_nombreCliente: function(oCliente){
                this.oCliente = oCliente
                if (this.cliente_completado==false){
                    this.idClienteAgregar = oCliente['idCliente']
                    this.nombreClienteAgregar = oCliente['nombre_cliente']
                    
                    if (oCliente['nombre_cliente']!=''){
                        this.cliente_completado = true
                        this.nombreClienteAgregar = oCliente['nombre_cliente']
                    }
                }else{
                    this.cliente_completado = false
                    this.nombreClienteAgregar = ''
                    this.oCliente = {}
                }
            },
            setValueProductoAgregar: function(oProducto){
                $("#inpt-producto").val(oProducto.nombre);
            },
            guardar_operacion: function(){
                let cant_items = this.items.length
                if (cant_items>0){
                    this.send_datos_operacion()
                }
                if (cant_items < 0){
                    alert("Agrege productos!")
                }
            },
        },
    });
</script>
{% endblock %}