{% extends "base.html" %}
{% block imports %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endblock %}

{% block title %}
Registrar Cierre de Caja
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Formulario de cierre de caja</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
                <form action="." method="post" enctype="multipart/form-data"> 
				<ul>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group" id="app">
						<label for="">Fecha de la apertura de Caja</label><br>
						<input type="text" name="fechaApertura" id="fechaApertura" required="" class="form-control" value="28 de agosto de 2023 a las 20:34" readonly="readonly">
						<input type="number" name="idApertura" id="idApertura" class="form-control" value="{{oAperturacaja.id}}" style="visibility: hidden" readonly="readonly">
						
								
						<label for="id_monto">Monto:</label><br>
						<input type="number"  value="{{oMontoCierre|stringformat:".2f"}}" name="monto"  step=".01" class="form-control" required="" id="monto" :readonly="bool_validado" >
						
						<div v-show="!bool_validado" >
							<label for="id_descripcion">Descripcion:</label><br>
							<textarea name="descripcion" cols="40" rows="10" class="form-control" id="id_descripcion"></textarea>
						</div>
				
						
						<label for="id_validado">Validado:</label>
						<input type="checkbox" name="validado" class="form-control fill" id="id_validado" checked="" v-model="bool_validado">
						
						<hr>
	
						<button class="btn btn-success" data-toggle="modal" data-target="#agrearPresentacion">Cerrar Caja</button>
					</div>
				</ul>
				</form>
 
			</div>
	    </div>
    </div>  
</div>  
{% endblock %}

{% block footer  %}

<script type="text/javascript">
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        computed: {
            
        },
        created() {
        },
        data:   {
			bool_validado:true,
		},
		watch:{
			bool_validado: function(val){
				if(this.bool_validado == false){

				}
			},
		},
		methods: {

		},
	});
</script>
{% endblock %}
