{% extends "base.html" %}

{% block imports %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}

{% block title %}
Registrar Nueva Operación
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block table-border-style">
        <div id="app">
            <div class="white-box" >
                <h3 class="box-title">Formulario de registro de Operaciones</h3>
                <form class="form form-horizontal" action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="row">
                        <label class="col-2">Tipo Operación</label>
                        <div class="col-6">
                            <select class="form-control" id="cmbTipoOperacion" name="cmbTipoOperacion" v-model="id_tipoOperacion" required>
                                <option value="1" selected="true">Ingreso</option>
                                <option value="2" >Egreso</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-2">Concepto Operación</label>
                        <div class="col-6">
                            <select v-model="detalleTipoOperacion" class="form-control" id="cmbDetalleTipoOperacion" name="cmbDetalleTipoOperacion">
                                <option v-for="detalleTipoOperacion in arr_detalleTipoOperacion" :value="detalleTipoOperacion.id">[[detalleTipoOperacion.nombre]]</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-2">Descripción</label>
                        <div class="col-6">
                            <textarea name="txtDesoperacion" id="txtDesoperacion" class="form-control" rows="5" required>
                                
                            </textarea>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <label class="col-2">Monto Operación</label>
                        <div class="col-6">
                            <input type="number" class="form-control" id="txtMontoOperacion" name="txtMontoOperacion" placeholder="0000.00" required title="formato 00.00">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success" data-toggle="modal" data-target="#agrearPresentacion">Registrar Operación</button>
                            </div>
                        </div>
                    </div>
                </form>            
			</div>
	    </div>
    </div>  
</div>  
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            computed: {
                 
            },
            created() {
                this.buscar_presentaciones_producto()

            },
            watch: {
                id_tipoOperacion: function(val){
                    this.buscar_presentaciones_producto()
                }

            },
            data:   {
                arr_detalleTipoOperacion: [],
                detalleTipoOperacion: 0,
                id_tipoOperacion: 1,
            },
            methods: {
                async buscar_presentaciones_producto(){
                const pk = $("#cmbTipoOperacion" ).val();
                //const pk = '123'
                if (pk>0){
                    axios.get("/detalletipooperacion/lista/?pk="+pk)
                        .then((response) => {
                            const data = response.data;
                            this.arr_detalleTipoOperacion = data
                            console.log(this.arr_detalleTipoOperacion)
                        })
                        .catch(function(error){
                        });    
                    }
                },
            },

        });

    </script>
{% endblock %}
