{% extends "base.html" %}

{% block imports %}


{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Editar Pedido</h3>
                <form action="." method="post" enctype="multipart/form-data">
                
                
                {% csrf_token %}
                <table>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">  
                                <div class="form-group has-success has-feedback  {% if form.pedido.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form.pedido.label_tag }}
                                     </label>
                                     <div class="col-sm-4">
                                        {{ form.pedido }}
                                    </div>
                                 </div>
                                 <br>
                                 <div class="form-group has-success has-feedback  {% if form.cantidad.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form.cantidad.label_tag }}
                                     </label>
                                     <div class="col-sm-4">
                                        {{ form.cantidad }}
                                    </div>
                                 </div>
                                 <br>
                                 <div class="form-group has-success has-feedback  {% if form2.producto.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form2.producto.label_tag}}
                                     </label>
                                     <div class="col-sm-5">
                                        {{ form2.producto }}
                                    </div>
                                 </div>
                                 <br>
                                 <div class="form-group has-success has-feedback  {% if  form2.presentacion.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form2.presentacion.label_tag }}
                                     </label>
                                     <div class="col-sm-5">
                                        {{ form2.presentacion }}
                                    </div>
                                 </div>
                                 <br>
            
                    <br>
                    </table>
                    <button class="btn btn-success" data-toggle="modal" data-target="">Actualizar</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
