{% extends "base.html" %}

{% block imports %}
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Formulario de apertura de caja</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
                <h3 class="box-title">Desea eliminar el pedido de {{oPedido.cliente.nombre}}</h3>
                <form action="." method="post" enctype="multipart/form-data">
						{% csrf_token %}
				
				<ul>
					<button class="btn btn-danger" type="sumit">Si, eliminar</button>
					<a href="{% url 'Pedido/listar' %}">Cancelar</a>
				</ul>
				</form>
	    	</div>
	    </div>
    </div>
</div>
{% endblock %}