{% extends "base.html" %}
{% block imports %}

{% endblock %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Lista de Productos</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones" class="table">
						<thead>
	                        <tr>
							<th>#</th>
							<th><p class="d-flex justify-content-center">Imagén</p></th>
							<th><p class="d-flex justify-content-center">Nombre</p></th>
							<th><p class="d-flex justify-content-center">Código</p></th>
							<th><p class="d-flex justify-content-center">Cantidad</p></th>
							<th><p class="d-flex justify-content-center">Opciones</p></th>
	                        </tr>
	                    </thead>
				    {% for oProducto in oProductos %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td class="d-flex justify-content-center"><img src="{{oProducto.imagen.url}}" alt="{{oProducto.nombre}}" width="90" height="85"> </td>
				    	<td>{{oProducto.nombre}}</td>
				    	<td>{{oProducto.codigo}}</td>
				    	<td>{{oProducto.cantidad}}</td>
				    	<td>
				    		<a href="/Producto/detalle/{{oProducto.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
				    		<a href="/Producto/editar/{{oProducto.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
				    	</td>
				    </tr>

				    {% endfor %}

					</table>
				    <br>
	    			<a href="/Producto/nuevo/"><button type="button" class="btn btn-success">Nuevo Producto</button> </a>

			</div>
	    </div>
    </div>
</div>
{% endblock %}
