{% extends "base.html" %}
{% block imports %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %}
Registrar Nuevo Producto
{% endblock %}

{% block content %}
<div class="card" id="app">
    <div class="card-header">
		<h3 class="box-title">Formulario de nuevo Producto</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
                <form action="." method="post" enctype="multipart/form-data"> 
					{% load widget_tweaks %}
					{% csrf_token %}
					<div class="form-group">
							<ul>
								{% for field in form %}
									{{ field.errors }}
									{{ field.label_tag }}</br>
									{{ field|add_class:"form-control" }}
								{% endfor %}
								<hr>
								<select multiple="multiple"  v-model="presentacionesSeleccionadas" class="form-control" name="Presentacions" id="Presentacions"  size="10">
									<option  v-for="option in lista_presentaciones" :key="option.codigo" :value="option.codigo">
									  [[option.nombre]] 
									</option>
								</select>
								<hr>
							</ul>

							<ul>
								<button  class="btn btn-primary" v-show="!bool_presentacionesSeleccionadas" @click="generar_ingreso_precios">Generar Precios</button>
							</ul>
							<ul>
								<div v-show="bool_presentacionesSeleccionadas">
									<h4>Precio para presentaciones seleccionadas</h4>
									<div class="row">
										<div class="col-2">
											<p>Presentación</p>
										</div>
										<div class="col-4">
											<p>Precio</p>
										</div>
									</div>
									
									<div v-for="(n,i) in presentacionesSeleccionadas"  v-bind:key="n">
										<div class="row">
											<div class="col-2">
												<p>Precio S/. [[ presentacionesSeleccionadas[i] ]]</p>
											</div>
											<div class="col-4">
												<input type="number" step=".00001" class="form-control" ref= "inputs" :id="'str' + n" :name="'str' + n"  required="required" />
											</div>
										</div>
									</div>

									<h4>Presentación favorita</h4>
									<div class="row">
										<div class="col-2">
											<p>Elija una presentacion Predeterminada</p>
										</div>
										<div class="col-4">
											<select   v-model="presentacionFavorito" class="form-control" name="Presentacions_favorito" id="Presentacions_favorito" >
												<option  v-for="option in presentacionesSeleccionadas" :key="option" :value="option">
												  [[option]] 
												</option>
											</select>
										</div>
									</div>
									<hr>
									
									<h4>Valor según presentación favorita</h4>
									<div class="row">
										<div class="col-2">
											<p>Presentación</p>
										</div>
										<div class="col-4">
											<p>Valor</p>
										</div>
									</div>
										
									<div v-for="(n,i) in presentacionesSeleccionadas"  v-bind:key="n">
										<div class="row">
											<div class="col-2">
												<p>Valor Presentación : [[ presentacionesSeleccionadas[i] ]]</p>
											</div>
											<div class="col-4">
												<input type="number" step=".00001" class="form-control" ref= "inputs" :id="'val' + n" :name="'val' + n"  required="required" />
											</div>
										</div>
									</div>

									<button class="btn btn-success" data-toggle="modal" data-target="#agrearPresentacion">Agregar Contenido</button>
								</div>
							</ul>
						</form>
					</div>
			    </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer  %}

<script type="text/javascript">
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        computed: {
            
        },
        created() {
			this.buscar_presentaciones()
        },
        data:   {
			bool_presentacionesSeleccionadas:false,
			precios: [],
			lista_presentaciones: [],
			presentacionesSeleccionadas: [],
			lista_favoritos: [],
			presentacionFavorito:'',
		},
		watch: {
			presentacionesSeleccionadas: function(val){
				console.log(this.presentacionesSeleccionadas)
				console.log(this.bool_presentacionesSeleccionadas)
			},
			lista_favoritos: function(val){
				console.log(this.lista_favoritos)
				const element = this.lista_favoritos
				//for ofavorito in this.lista_favoritos:
				for (let index = 0; index < element.length+1; index++) {
					console.log(element[index])
				}
			},
		},
        methods: {
			async buscar_presentaciones(){
                const pk = this.idProductoAgregar
				axios.get("/presentacion/listar")
					.then((response) => {
						const data = response.data;
						this.lista_presentaciones = data
					})
					.catch(function(error){
				});    
            },

			generar_ingreso_precios: function(){
				this.bool_presentacionesSeleccionadas = true
			},
		},
	});
</script>
{% endblock %}