{% extends "base.html" %}
{% block imports %}

{% endblock %}

{% block title %}
Información de Lote
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Detalle del Lote</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
			<div>
				<table id="tCamiones"  class="table">
					<tr>
						<td>Fecha: </td>
						<td>{{ oLote.fecha }}</td>
					</tr>
					<tr>
						<td>Almacén: </td>
						<td>{{ oLote.almacen.nombre }}</td>
					</tr>
					<tr>
						<td>Proveedor: </td>
						<td>{{ oLote.proveedor.nombre }}</td>
					</tr>
					<tr>
						<td>Total Monto S/. : </td>
						<td>{{ oLote.monto }}</td>
					</tr>
					<tr>
						<td>Productos: </td>
						<td>
                            <table id="tCamiones" class="table">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th><p class="d-flex justify-content-center">Nombre <br> Imagen</p></th>
                                    <th><p class="d-flex justify-content-center">Cantidad</p></th>
                                    <th><p class="d-flex justify-content-center">Presentación</p></th>
                                    <th><p class="d-flex justify-content-center">Precio</p></th>
                                    <th><p class="d-flex justify-content-center">Fecha caducidad</p></th>
                                    </tr>
                                </thead>
                                {% for oLote_productopresentacion in oLote_productopresentacions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ oLote_productopresentacion.producto_presentacions.producto.nombre }}</td>
                                    <td>{{ oLote_productopresentacion.cantidad }}</td>
                                    <td>{{ oLote_productopresentacion.producto_presentacions.presentacion.nombre }}</td>
                                    <td>{{ oLote_productopresentacion.precio_lote }}</td>
                                    <td>{{ oLote_productopresentacion.fecha_caducidad }}</td>
                                </tr>
                                {% endfor %}
                            </table>
						</td>
					</tr>
			</div>
			</div>

	    </div>
    </div>
</div>

{% endblock %}
