{% extends "base.html" %}


{% block imports %}


<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$(function() {
  var availableTags = [
    "ActionScript",
    "AppleScript",
    "Asp",
    "BASIC",
    "C",
    "C++",
    "Clojure",
    "COBOL",
    "ColdFusion",
    "Erlang",
    "Fortran",
    "Groovy",
    "Haskell",
    "Java",
    "JavaScript",
    "Lisp",
    "Perl",
    "PHP",
    "Python",
    "Ruby",
    "Scala",
    "Scheme"
  ];
  $( "#tags" ).autocomplete({
    source: availableTags
  });
} );
</script>

{% endblock %}


{% block title %}
Nuevo Lote
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Nuevo Lote</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
                <div class="container" id="app">
                    <h3 class="box-title">Nuevo Lote</h3>
                    <br>
                    <label for="id_nombre">Cantidad:</label>
                    <br>
                    <input type="number" name="cantidad" id="cantidad" required="" class="form-control" >
                    <label for="id_nombre">Producto:</label>
                    <br>
                    <input type="text" v-model="nombreProducto"  class="form-control" name="inpt-producto" id="inpt-producto">
                    <hr>
                    <h3>[[nombreProducto]]</h3>
                    <hr>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="ui-widget">
                            <label for="tags">Tags: </label>
                            <input id="tags">
                        </div>
                    </div>

                    <hr>
                    <label for="id_nombre">Código:</label>
                    <br>
                    <input type="text" name="codigo" id="codigo" required="" class="form-control" disabled="disabled">
                    <br>
                    
                    <button id="bt_add" class="btn btn-success">Agregar</button>
                    <button id="bt_del" class="btn btn-warning">Eliminar</button>
                    <button id="bt_delall" class="btn btn-danger">Eliminar todo</button>
                    <div class="row">
                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Cantidad</td>
                                    <td>Cod. Producto</td>
                                    <td>Nombre</td>
                                </tr>
                            </thead>
                            </table>

                            <br>
                        </div>
                            <br>

                        <button id="bt_GenerarLote" class="btn btn-success">Crear Lote</button>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-8 col-md-8 col-lg-6">
                                <div id="tabs" style="display:none;">
                                    <table id="listaProducto"></table>
                                    <div id="pagerlistaProducto"  style="text-align: center;"></div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer  %}
<script type="text/javascript" >
    $( "#tags" ).autocomplete({
        source: availableTags
    });
</script>

<script type="text/javascript">
    
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        created() {
        },
        data:   {
            localValues: '',
            done: '',
            nombreProducto: '',
            data :  [
            "ActionScript",
            "Bootstrap",
            "C",
            "C++",
            ],
        },
        watch: {
            nombreProducto: function(val){
                this.buscar_producto()
            },
        }
        ,
        methods: {
            async buscar_producto(){
                let data = {
                    nombreProducto : this.nombreProducto,
                };
                axios.post("/producto/buscar/", data).then((result) => {
                    const data = result.data;
                    if (data){
                        console.log(data)
                        this.autocompletar(data)
                    }
                    else{
                        alert("Error")
                    }
                });
            },
            autocompletar: function(data){
                console.log("fun")
                console.log(this.data)
                $( "#inpt-product" ).autocomplete({
                    source: this.data
                });
            },
        },
    });
</script>


{% endblock %}


