{% extends "base.html" %}


{% block imports %}


<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


{% endblock %}


{% block title %}
Nuevo Lote
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
		<h3 class="box-title">Nuevo Lote</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div class="white-box">
                <div class="container" id="app">
                    <h3 class="box-title">Nuevo Lote</h3>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <p>Seleccione Almacén</p>
                            <select name="almacen" id="almacen" class="form-control">
                                {% for oAlmacen in oAlmacens %}
                                    <option value="{{ oAlmacen.id }}"> {{ oAlmacen.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <p>Seleccione Proveeodr</p>
                            <select name="almacen" id="almacen" class="form-control">
                                {% for oProveedor in oProveedors %}
                                    <option value="{{ oProveedor.id }}"> {{ oProveedor.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <label for="id_nombre">Producto:</label>
^
                            <input type="text" ref="inpProducto" v-model="nombreProductoAgregar"  class="form-control" 
                            name="inpt-producto" id="inpt-producto" :disabled="producto_completado"
                            v-on:keyup.enter="changeProductoCompletado">
                            
                            <button v-show="producto_completado" type="button" class="btn btn-secondary " @click="changeProductoCompletado">
                                Editar
                            </button>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9">
                                    <label for="id_nombre">Cantidad:</label>
                                    <input v-model="cantProductoAgregar" type="number" min="1" name="cantidad" id="cantidad" required="" class="form-control" >
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="form-control btn-success" @click="++cantProductoAgregar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="form-control btn-danger" @click="--cantProductoAgregar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <h3>[[nombreProducto]]</h3>
                    
                    <div class="col-md-8 col-md-offset-2">
                        <div class="ui-widget">
                            <label for="tags">Tags: </label>
                            <input id="tags">
                        </div>
                    </div>

                    <hr>
                    <label for="id_nombre">Código:</label>
                    <br>
                    <input type="text" name="codigo" id="codigo" required="" class="form-control" disabled="disabled">
                    <br>

                    <div class="col-12">
                        <b-table striped hover :items="arrProductos"></b-table>
                    </div>
                    
                    <button id="bt_add" class="btn btn-success">Agregar</button>
                    <button id="bt_del" class="btn btn-warning">Eliminar</button>
                    <button id="bt_delall" class="btn btn-danger">Eliminar todo</button>
                    <div class="row">
                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Cantidad</td>
                                    <td>Cod. Producto</td>
                                    <td>Nombre</td>
                                </tr>
                            </thead>
                            </table>

                            <br>
                        </div>
                            <br>

                        <button id="bt_GenerarLote" class="btn btn-success">Crear Lote</button>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-8 col-md-8 col-lg-6">
                                <div id="tabs" style="display:none;">
                                    <table id="listaProducto"></table>
                                    <div id="pagerlistaProducto"  style="text-align: center;"></div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer  %}
<script>
    $(function() {
      var availableTags = [
        "ActionScript",
        "AppleScript",
        "Asp",
        "BASIC",
        "C",
        "C++",
        "Clojure",
        "COBOL",
        "ColdFusion",
        "Erlang",
        "Fortran",
        "Groovy",
        "Haskell",
        "Java",
        "JavaScript",
        "Lisp",
        "Perl",
        "PHP",
        "Python",
        "Ruby",
        "Scala",
        "Scheme"
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
</script>

<script type="text/javascript">
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        created() {
            console.log("created")
            //$("input").focus();
            //this.$refs.inpProducto.focus()
            const focus_inicial = this.$refs.inpProducto
            //focus_inicial.inpProducto.focus()
        },
        data:   {
            focus_inicial:'',
            localValues: '',

            done: '',
            producto_completado : false,
            nombreProductoAgregar : '',
            nombreProducto: '',
            

            cantProductoAgregar: 0,
            arrProductos: [],
            
        },
        
        watch: {
            nombreProductoAgregar: function(val){
                this.buscar_producto()
            },
        }
        ,
        methods: {
            async buscar_producto(){
                let data = {
                    nombreProducto : this.nombreProductoAgregar,
                };
                axios.post("/producto/buscar/", data).then((result) => {
                    const data = result.data;
                    if (data){
                        console.log(data['productos'])
                        this.autocompletar(data['productos'])
                    }
                    else{
                        alert("Error")
                    }
                });
            },
            
            changeProductoCompletado: function(){
                if (this.producto_completado == true){
                    this.producto_completado = false
                }
                else{
                    this.producto_completado = true
                }
                
            },
            autocompletar: function(data){
                var arr_productos = []
                for (let index = 0; index < data.length; index++) {
                    arr_productos.push(data[index].nombre);
                }
                this.arrProductos = data
                
                console.log(arr_productos)
                console.log(this.arrProductos)
                const nomProductComplete = ''
                $( "#inpt-producto" ).autocomplete({
                    source: arr_productos,
                    select: function (event, ui) {
                        $.data(document.body, 'nomProductSelect', ui.item.Id);//guardar el id en memoria el $.data guarda en memoria
                        nomProductComplete = 'asd'
                        typeof(nomProductComplete)
                        //$( "#inpt-producto" ).val(nomProductComplete);
                        $( "#inpt-producto" ).val('asdas');

                        //$( "#cantidad" ).focus();
                    }
                    
                });
                console.log(nomProductComplete) 

            },
        },
    });
</script>


{% endblock %}


